<h1>Listing</h1>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <td>Symbol</td>
          <td>Value</td>
          <td>50 day Moving Avg</td>
          <td>52 week high</td>
          <td>Add to Watchlist</td>
        </tr>
      </thead>
      <tbody>
      <% @data.each do |stock| %>
        <tr>
          <td><%= stock.symbol %> </td>
          <td>$<%= stock.last_trade_price %></td>
          <td>$<%= stock.moving_average_50_day %></td>
          <td>$<%= stock.high_52_weeks %></td>
          <td><form method="post" action="/stocks">
                <input type="hidden" name="stocktoadd" value=<%=stock.symbol%>>
                  <button type="submit" class="btn btn-primary" >Add</button>
             </form></td>
        </tr>
      <%end%>
      <tbody>
    </table>
  </div>