<h1>Listing</h1>
  <div class="table-responsive">
    <table class="table">
      <thead style="font-weight:bold">
        <tr>
          <td>Symbol</td>
          <td>Value</td>
          <td>50 day Moving Avg</td>
          <td>52 week high</td>
          <td>Add to Watchlist</td>
        </tr>
      </thead>
      <tbody>
      <% @data.each do |stock| %>
        <tr>
          <td><%= stock.symbol %> </td>
          <td>$<%= stock.last_trade_price %></td>
          <td>$<%= stock.moving_average_50_day %></td>
          <td>$<%= stock.high_52_weeks %></td>
          <td><form method="post" action="/stocks">
                <input type="hidden" name="stocktoadd" value=<%=stock.symbol%>>
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <button type="submit" class="btn btn-primary" >Add</button>
             </form></td>
        </tr>
      <%end%>
      <tbody>
    </table>
    <%= link_to 'Go Back', '/stocks/new' %>
    <br>
    <%= link_to 'Home', root_path %>
  </div>