<!DOCTYPE html>
<html>
  <head>
    <title>TradingAlertsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
  </head>

  <body>
    <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
          <a class="navbar-brand" href="/">Trading Alerts</a>
            <div class="collapse navbar-collapse" id="navbarExample">
                <ul class="navbar-nav ml-auto">
                    <% if user_signed_in? %>
                     <li class="nav-item" style="color:white">Hi <%=current_user.email %></li>
                      <li class="nav-item">
                        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
                      </li>
                    <% else %>
                      <li class="nav-item">
                        <%= link_to "Register", new_user_registration_path, class: "nav-link" %>
                      </li>
                      <li class="nav-item">
                        <li><%= link_to "Log In", new_user_session_path, class: "nav-link" %></li>
                      </li>
                    <%end%>
                </ul>
                <% if user_signed_in? %>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    User menu
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/stocks">Watchlist</a>
                    <a class="dropdown-item" href="/stocks/new">Add new stock</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                  <%end%>
                </div>
            </div>
        </div>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container">
    <%= yield %>
      <!-- Footer -->
    <footer class="py-5 bg-inverse">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Trading Alerts 2017</p>
        </div>
        <!-- /.container -->
    </footer>

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/tether/tether.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
